<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9edab0fdb7.js" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="/css/styles.css">

  
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p><a href="/" class="navbar-brand">DAILY JOURNAL</a></p>
      </div>

      <ul id="list" class="nav navbar-nav navbar-right">
     <!-- <li id="home"><a href="/">HOME</a></li> -->
        <%- include logoutNav.ejs %>
        <li><a href="/about">ABOUT</a></li>
        
      </ul>
    </div>
  </nav>

<body>


  <div class="container">
