<%- include('partials/header') -%>

<h1 class="page-title"> About </h1>


<div class="page-main--content">

  <div class="page-main">
   <span class="page-main--title"> AUTHOR INFO </span>
  </div>

   <div class="page-main--sub"> 
   <span class="page-main--text"> Developer: Danshu Zhao </span>
   <span class="page-main--text"> Multidisciplinary designer</sapn>
   <sapn class="page-main--text"> Font-end developer (based in London)</span>
   </div>

  <div class="page-social">

   <i class="icon fab fa-linkedin" ></i>
   <a class="icon-text" href="https://www.linkedin.com/in/danshu-zhao/" target="_blank">LinkedIn</a> </i>
  </div>

  <div class="page-social">
    <i class="icon far fa-envelope" ></i>
    <a class="icon-text" href="mailto: dszhao99@gmail.com" target="_blank">Email</a> </i>
   </div>

  <div class="page-social">
    <i class="icon fab fa-github-square" ></i>
    <a class="icon-text" href="hhttps://github.com/DanniZhao66" target="_blank">GitHub</a> </i>
   </div>


 </div>

    <div class="page-main">
    <span class="page-main--title"> BLOG INFO </span>
    </div>
    
    <div class="page-main--content">
    <span class="page-main--text"> 
        This blog is a developed version of the tutorial by <a class="page-social" href="https://www.appbrewery.co/" target="_blank">App Brewery</a>. 
    </span>
    <span class="page-main--text">
        It's a free daily journal/blog service which can be used dynamicly. </span>
    <span class="page-main--text" style="color:#a7a5a5;">(developed with user authentation&Security settings) </span>
    </div>
    

</div>


<%- include('partials/footer') -%>
