<%- include('partials/header') -%>

<div class="home">


  <h1 class="home-title">YOUR DAILY JOURNAL!</h1>

  <p>Daily journal is an expansion of the blog tutorial by App Brewery. <br> We are offering you a free daily journal! </p>

  <a href="/register" class="home-button"> SIGNUP/LOGIN </a>


</div>

<%- include('partials/footer') -%>
